body {
    margin:0px;
    padding:0px;
	font-family: 'Roboto Condensed';
}
#mainblock {
	border: 0.3vw solid #2F528F;
	height: 45vh;
	width: 43%;
	padding-top: 1%;
	margin: auto;
	margin-top: 4%;
	text-align: center;
	background-color: #8FAADC;
}
.main{
	width: 90%;
	display: block;
	font-size: 2vw;
	font-weight: bold;
	color: azure;
	font-family: Comic;
	float: left;
	left: 5%;
	margin: 2% auto;
}
.txt{
	text-align: left;
	width: 90%;
	margin-top: 0;
	margin-left: 4%;
	margin-bottom: 4%;
}
.inp {
	font-size: 1vw;
	padding: 0.8%;
	border: 0.15vw solid white;
	margin: 1%;
}
.norm{
	width: 89%;
}
.button {
	width: 45%;
	padding: 0.8%;
	float: left;
	left: 1%;
	border: 0.15vw solid darkblue;
	border-radius: 10px;
	font-size: 1.5vw;
	background-color: #4472C4;
	color: whitesmoke;
	margin-left: 4%;
}
.header {
    overflow: hidden;
    background-color: #4472C4;
    margin-bottom: 3%;
    padding-top: 0.6%;
    padding-bottom: 0.6%;
}
#logo {
    float: left;
    color: white;
    text-align: center;
    text-decoration: none;
    margin-top: 0.3%;
    margin-left: 2%;
    padding: 0.3%;
    font-size: 2vw;
    font-weight: bold;
    width: 6%;
}
.header #logo:hover {
    background-color: white;
    color: black;
}
.lighter {
    filter: brightness(120%);
}
.darker {
    filter: brightness(85%);
}
